%h2 edit history
- @argument.version_history.each do |version|
  %hr
  %small #{version[:event]} by #{link_to_user version[:author]}
  %h4= version[:obj].summary
  %p
    :markdown
      #{version[:obj].description}
