%h2
  Hello #{@user.display_name}, this is your profile
  %a{href:'https://gravatar.com/emails', rel:'tooltip', title:'change you profile picture on Gravatar', class: 'pull-right'}
    =image_tag @user.avatar_url(128)

You can use the following email addresses to login:
- @user.credentials.each do |c|
  %br
  %strong
    = c.email