%h2
  Your profile page
  %a{href:'https://gravatar.com/emails',
     rel:'tooltip', title:'change you profile picture on Gravatar',
     class: 'pull-right'}
    =image_tag @user.avatar_url(128)

Display Name:
%strong
  #{@user.display_name}
%br
[#{link_to 'edit profile', edit_user_path(@user)}]
%br
%br
If you log in with a secondary email address a message will be displayed asking to use
primaryemailaddress instead.
Secondary email addresses will not be used in any other way
- @user.credentials.each do |c|
  %br
  %strong
    = c.email