%h2
  Your profile page
  %a{href:'https://gravatar.com/emails',
     rel:'tooltip', title:'change you profile picture on Gravatar',
     class: 'pull-right'}
    =image_tag @user.avatar_url(128)

%p
  Display Name:
  %strong= @user.display_name
  [#{link_to 'edit profile', edit_user_path(@user)}]

%p
  primary email address:
  %strong= @user.primary_email
%h4 Secondary email addresses
%ul
  - @user.secondary_emails.each do |email|
    %li #{email}
%p
  :markdown
    If you log in with a **secondary email** address a message will be displayed asking you to use
    you primary email address instead. This is for your convenience in case you forget which
    address was used during first registration. Secondary email addresses will not be used in any other way.