%h1 Listing users
%table.col-offset-2
  %tr
    %th.col-md-2
    %th.col-md-3 Real name
    %th.col-md-2 ID
    /%th.span3 email
  - @users.each do |user|
    %tr{url: user_path(user)}
      %td=image_tag user.avatar_url(64)
      %td
        %strong= link_to user.display_name, user
      %td= user.id
      /%td= user.primary_email
