%h1 Listing users
%table
  %tr
    %th ID
    %th email
    %th Real name
  - @users.each do |user|
    %tr
      %td= link_to user.id, user
      %td= link_to user.primary_email, user
      %td= link_to user.display_name, user