:markdown
  ## Concept ##
  There is a challenge in keeping a good signal to noise ration when discussing
  controversial political topics. Strong feelings among the participants often give rise
  to a lot of partisan and low value content.

  On this website a number of technological and sociological measures
  have been taken in an attempt to counter the common pitfalls of free form
  online discussions.


  #### highly structured content ####

  Highly structured content creates some limits on the kind of discussions and information
  that can be provided, but it has the potential of giving much higher quality information
  for content within those limits.

  The questions have to be binary questions between two choices of public policies.
  For each question users can contribute single pros and cons.

  No other forms of discussions can be held. *(Some limited forms of
  discussion might be provided in the future, two possible options are very short
  factual comments on single arguments and separate semi-hidden discussion
  pages, along the lines of Wikipedia discussion pages).*

  The focus is to provide users with almost no knowledge about an issue with
  an overview of the most important points that should be taken into account
  when making an informed decision.


  #### smart ranking ####

  A smart ranking algorithm based on user votes sorts the pros and the cons, showing the
  most relevant ones first.

  In brief, the rating score used indicates the percentage of positive votes, with the
  tendency toward a default value when not many votes have yet been cast.
  *(In the future the number of views will be taken into account too, counting
  as a form of neutral votes).*


  #### no direct competition between opposing positions ####

  Voting behaviour can be heavily influenced by strong political opinions.
  This effect is countered by ranking the pros and cons independently.
  In this way it does not matter weather the pros or the cons got more votes, all that matters
  is what the most interesting pros are and what the most interesting cons are.


  #### community seeding ####

  The most important thing that determines the final content are the users,
  their intellectual honesty and their values. The technological aspects can
  help but they won't be enough without a healthy community.

  The initial contributors will have a great influence on how the community will
  look in the future. People with values too different from it will feel
  alienated and leave, those with similar values will be attracted. This is why
  great care is being taken in choosing the initial users.

  #### guidelines ####

  Prescriptive guidelines that describe what kind of content is allowed and what
  the behaviour of the community members should be. The guidelines will in large
  part be determined by the initial community.