.textual-main-content
  :markdown
    FAQ
    ===
    General
    -------
    #### What if an answer is not appropriately answered here? ####
    If you have a questions that isn't answered here, or if you do not find
    the answer satisfactory, feel free to ask the question on the
    #{link_to 'mailing list', 'https://groups.google.com/forum/#!forum/prosncons', target: '_blank'}.

    If you think that you found a bug or want to file a feature request, open
    a ticket on the
    #{link_to 'issue tracker', 'https://github.com/fela/prosncons/issues', target: '_blank'}.

    Pages
    ---------

    #### What topics are allowed? ####

    All questions should be about politics and public policy.

    #### What about other topics, like product comparisons, everyday decisions, programming choices? ####

    In this early stage I prefer to concentrate on a single topic, therefore for now **other topics are not allowed**. If there is interest, communities to discuss other topics will be seeded in the future. I think it is a good idea to keep topics separated to allow each one to create a community around it.

    #### What kind of questions should be asked? ####

    The questions should offer a binary choice between **two options**.

    #### What if there are more than two choices? ####

    Chose two options whose comparison is interesting. More questions can be created to compare different choices.

    #### What are examples of valid questions? ####

    What are reasons to believe and not to believe in anthropogenic global warming?

    Good reasons to act and to not to act to prevent global warming? *(a different question that the previous one)*

    Obama vs Romney, who should I vote and why?

    Obama's administration, what did he do well and what not?

    #### What are examples of invalid questions? ####

    Windows or Linux which is a better operating system? *(Not about public policy, a better question would be: pros and cons of using Linux in the public administration)*

    What are the most effective measures to decrease crime rates in New York? *(Not a binary question)*

    Answers
    -------

    #### How should an answer be structured? ####

    Each answer should contain a reason to prefer one of the two options. Each answer should contain **only one reason**. Write more answers if you want to suggest more arguments in favour of a given choice.

    #### Are duplicate questions allowed? ####

    It is preferable to edit the original question.

    Comments
    --------

    #### Can I write arguments in a comment ####

    No. Comments are not intended for lengthy discussions and should not be used
    to write arguments. If you want to add an argument use a pro or a con. If you want to start a related
    discussion, you might want to add a new prosncons question, if appropriate.

    #### What should comments be used for? ####

    Comments should be used to point out (potential) guideline violations, factual errors, logical fallacies, and to suggest improvements to an argument. They shouldn't be used for lengthy discussions.

    Comments should be short.

    Reputation & Voting
    -------------------

    #### How is the reputation calculated ####

    The reputation is equal to the total amount of upvotes received. Down votes and own votes
    are ignored.

    #### Can I vote for my own argument ####

    Yes. But the vote won't increase your reputation.

    Philosophy
    ----------

    #### What is the goal of this website? ####

    The goal of the website is to collaboratively create and share summaries of pros and cons on controversial issues. The aim is not to give a conclusive answer, or to steer the user to any specific view, but rather to offer a starting point from where to further analise a topic.

    #### With what state of mind should I write answers? ####

    Try to be as humble as possible, be critical of you own view and beware of you preconceived notions. Be open to the fact that you might me wrong and probably are missing important information. If you tend to believe in one thing, try to concentrate on finding good arguments against your own view. Your aim should not be to try to convince the reader, but merely to provide information.

    #### Who owns what I write on the website? ####

    All content is licenced under the permissive Creative Common CC BY licence. Which means anybody can reuse the content as long as the original authors are properly quoted.

    #### Isn't it unfair to give pros and cons always the same weight? ####

    It is not the aim of this website to directly decide if pros or cons deserve more weight. It should be the users burden to carefully analise the points and decide if one side of the issue has better and more convincing arguments, or if one argument is so important that it overshadows all those on for the opposing view. Looking for arguments on both side is a good habit, and doesn't mean the conclusion cannot heavily favor one side.

    #### Is there a risk of users strategically voting up for bad arguments arguing for the view they don't agree on? ####

    It is important that a healthy and intellectually honest community forms where the vast majority users votes honestly.

    While it is hard to really forcefully prevent bad arguments to purposefully be voted up, if people really thing their view is objectively better, then it is only in their best interest to give honest and correct information. Voting up bad argument will decrease the quality of the answers and decrease the websites usefulness for everybody. If it really becomes a problem, effort will be made to block abusing users. Hopefully this will never become necessary.

