%h1 Pros'n'Cons webapp
:markdown
  **Warning**: This website is a proof of concept, and all data could be **deleted**
  at any time. The first demo will be launched soon at a different url.

  ## Concept ##
  It is hard to conduct discussions on controversial topics while keeping a good signal
  to noise ratio. Strong feelings among the participants often gives rise
  to a lot of partisan low value content.

  On this website a number of technological and sociological measures
  have been taken in an attempt to counter the common pitfalls of free form
  online discussions.


  #### highly structured content ####

  The questions have to be binary questions between two choices of public policies.
  For each questions single pros and cons are provided.

  No other kind of discussions or comment can be made. (Some limited forms of
  discussion might eventually be provided, two possible options are very short
  factual comments on single arguments and separate semi-hidden discussion
  pages, along the lines of the Wikipedia discussion pages).

  While this creates some limits on the kind of discussions and information
  that can be provided, it has the potential of giving much higher quality information
  for content within those limits and greatly reduces the noise.


  #### smart ranking ####

  A smart ranking algorithm based on user votes sorts the pros and cons, showing the
  most relevant ones first.

  In brief, the rating score used indicates the percentage of positive votes, with the
  tendency toward a default value when not many votes have yet been cast.
  (In the future the number of views will be taken into account too).


  #### no direct competition between opposing positions ####

  Voting behaviour can be heavily influenced by strong political opinions.
  This effect is countered by ranking the pros and cons independently.
  It does not matter if the pros or the cons got more votes, all that matter
  is what the most interesting pros are and what the most interesting cons are.


  #### community seeding ####

  The most important thing that determines the final content are the users,
  their intellectual honesty and their values. The technological aspects can
  help but it won't be enough without a healthy community. Additionally, the
  initial community will have a great influence on how the community will
  look in the future. People with values too different from it will feel
  alienated and leave. This is why great care is being taken in choosing the initial
  users and their values.