%h3.page-header
  =page.title
  - if can? :edit, page
    %small
      [#{link_to 'edit', edit_page_path(page)}]
.page-content
  :safemarkdown
    #{page.content}
  .text-right
    = render partial: 'users/signature',
      locals: {obj: page, new_comment_path: new_page_comment_path(page), comments_path: page_comments_path(page)}