%h1 Listing pages

%table
  %tr
    %th Title
    %th
    %th

  - @pages.each do |page|
    %tr{url: page_path(page)}
      %td.span5
        %strong= link_to page.title, page
      %td.span1
        - if can? :edit, page
          = link_to 'Edit', edit_page_path(page)

      %td.span1
        - if can? :delete, page
          = link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if can? :create, Page
  = link_to 'New Page', new_page_path, class: 'btn btn-primary'
