/ TODO: write more general version of it
%h2 edit history
- @page.version_history.each do |version|
  %hr
  %small #{version[:event]} by #{link_to_user version[:author]}
  %h4= version[:obj].title
  %p
    :safemarkdown
      #{version[:obj].content}
