%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    logged in as
    %strong= session[:username]
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Go to profile", user_path(session[:user_id])
    %li= link_to "Log Out", logout_path